/* @font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Bold.woff2") format("woff2"),
    url("../fonts/Roboto-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Regular.woff2") format("woff2"),
    url("../fonts/Roboto-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Raleway";
  src: url("../fonts/Raleway-Bold.woff2") format("woff2"),
    url("../fonts/Raleway-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Medium.woff2") format("woff2"),
    url("../fonts/Roboto-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Black.woff2") format("woff2"),
    url("../fonts/Roboto-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
} */

/* @import url("https://fonts.googleapis.com/css2?family=Raleway:wght@700&family=Roboto:wght@400;500;700;900&display=swap"); */
:root {
  --color-highlight: #2196f3;
  --color-text-alt: #ffffff;
  --color-text-alt-transparent: rgba(255, 255, 255, 0.6);
  --color-text-dark: #212121;
  --color-text-light: #757575;
  --color-background-dark: #2f303a;
  --color-background-light: #f5f4fa;
}
body {
  font-family: Roboto, sans-serif;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  color: var(--color-text-dark);
}

.link {
  text-decoration: none;
}
.list-style {
  list-style-type: none;
}

.logo {
  font-family: Raleway, sans-serif;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.1923;
  color: inherit;
}

.logo_blue {
  color: var(--color-highlight);
}

.header-link {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.1428;
  color: var(--color-text-dark);
}

.contac-link {
  color: var(--color-text-light);
}

.header-link.active,
.header-link:hover,
.header-link:focus {
  color: var(--color-highlight);
}
.section-dark {
  background: var(--color-background-dark);
}

.page-title {
  font-size: 44px;
  line-height: 1.3636;
  color: var(--color-text-alt);
  text-align: center;
  font-weight: 900;
  text-transform: uppercase;
}

.button-click {
  background: var(--color-highlight);
  border: 0;
  color: var(--color-text-alt);
  font-size: 16px;
  line-height: 1.875;
  font-weight: bold;
  cursor: pointer;
}
.section_tittle {
  font-size: 36px;
  line-height: 1.1666;
  text-align: center;
}

.work_title {
  font-size: 14px;
  line-height: 1.1428;
  text-transform: uppercase;
}

.work_description {
  font-size: 14px;
  line-height: 1.714;
  color: var(--color-text-light);
}

.section-team {
  background: var(--color-background-light);
}
.team-name {
  font-size: 16px;
  line-height: 1.1875;
  font-weight: 500;
  text-align: center;
}

.team-position {
  line-height: 1.1875;
  color: var(--color-text-light);
  text-align: center;
}

.filter-button {
  background: var(--color-background-light);
  border-radius: 4px;
  font-weight: 500;
  line-height: 1.625;
  cursor: pointer;
  border: 0;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.filter-button.active {
  color: var(--color-text-alt);
  background: var(--color-highlight);
}

.filter-button:hover,
.filter-button:focus {
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-weight: 900;
}

.portfolio-card {
  /* box-shadow: 0px 5px 7px 0px var(--color-text-gray); */
}

.portfolio-card-title {
  font-size: 18px;
  line-height: 2;
}

.portfolio-link {
  color: inherit;
}

.portfolio-card-category {
  line-height: 1.875;
  color: var(--color-text-light);
}

.footer {
  background: var(--color-background-dark);
  color: var(--color-text-alt);
}
.address_link {
  color: var(--color-text-alt-transparent);
}
.address_link:hover,
.address_link:focus {
  color: var(--color-highlight);
}

.address {
  font-style: normal;
  font-size: 14px;
  line-height: 1.714;
}
